.tba-select-container label {
  display: none;
}

.tba-select-container {
  margin: auto !important;
}

.tba-select-all-container {
  margin: auto !important;
  padding: 0 40px
}

@media (min-width: 990px) {
  #taxonomy-bulk-actions-container {
    display: grid;
    grid-gap: 25px;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    padding: 10px 30px;
    margin: 30px 0;
    background-color: white;
    box-shadow: 6px 7px 16px lightgray;
    justify-content: center;
  }

  .tba-sticky {
    position: fixed !important;
    transition-property: top, left, margin, width;
    transition-duration: 500ms;
    box-shadow: 0 2px 5px darkgray !important;
    transition-timing-function: linear;
    top: 10%;
    left: 0;
    margin: 0 !important;
    z-index: 500;
    width: 100%;
  }
}
@media (max-width: 990px) {
  #taxonomy-bulk-actions-container {
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: max-content;
    padding: 10px 30px;
    margin: 30px 0;
    background-color: white;
    box-shadow: 6px 7px 16px lightgray;
    justify-content: center
  }

  .tba-select-container {
    margin: unset !important;
  }

  .tba-sticky {
    position: fixed !important;
    top: 5%;
    left: 0;
    margin: 0 !important;
    z-index: 500;
    width: 100%;
  }
}
